.item {
  border: 2px solid var(--mainColor);   
  display: flex;
  border-radius: 20px;
  width: 500px;
  padding-inline:20px 15px;
  padding-block: 5px;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 600px) {
    width: 100%;
    
  }
}
h1.index {
  flex : 0.5;
  color: var(--mainColor);
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
h1.medicine { 
  color: var(--mainColor);
  font-weight: 600;
  flex: 2;
  margin: 0;
  text-align: end;
  font-size: 21px;
}
.icons { 
  flex: 0.2;
  display: flex;
  gap: 5px;
  margin-top: -3px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bordered {
  border: 2px solid var(--mainColor);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  padding: 2px;
  background-color: var(--mainColor);
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: white;
    color: var(--mainColor);
  }
}